body {
  background-color: #4F86C6;
  font-family: 'Arial'; }

h4 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #000; }

/* Website Navigation */
.navbar {
  background-color: #e8ebf1;
  height: 120px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  margin-bottom: 0;
  border-bottom: 1px solid #6ec2ca; }

.navbar-header .navbar-brand {
  font-family: 'Lato';
  font-size: 50px;
  font-weight: bold; }

.navbar-brand span {
  color: #2aacc8;
  font-weight: normal; }

.navbar-header a,
.navbar-nav a {
  color: #000 !important;
  font-family: 'Arial';
  font-size: 13px;
  font-weight: bold; }

.navbar-nav li a:hover,
.navbar-nav li a:active {
  border-top: 4px solid #2aacc8 !important; }

/* Header, with carousel */
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #81e4ed no-repeat 50% 50%;
  background-size: cover;
  max-height: 500px;
  min-height: 500px;
  margin-top: 0; }

.carousel-inner .item:after {
  content: "";
  height: inherit;
  display: inline-block;
  vertical-align: middle; }

.carousel {
  display: inline-block;
  vertical-align: middle; }

/* Middle section */
.middle-section {
  min-height: 300px;
  background: #e8ebf1;
  background-size: cover;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d9d9d9; }

.middle-section .row {
  padding-top: 10px; }

.middle-section .column {
  padding-bottom: 20px; }

.middle-section .column-title .fa {
  font-size: 20px;
  color: #FFF;
  border-radius: 90%;
  background: #2aacc8;
  width: 40px;
  height: 40px;
  line-height: 2.0;
  text-align: center;
  margin-right: 20px; }

.middle-section .column-title {
  line-height: 2.5;
  font-size: 15px; }

.middle-section a .fa {
  font-size: 10px;
  color: #000; }

/* Latest Works */
.latest-works {
  min-height: 280px;
  background: #FFF;
  background-size: cover;
  width: 100%;
  position: relative; }

.latest-works .section-title {
  border-bottom: 1px solid #d9d9d9; }

.section-title {
  font-size: 15px;
  padding: 20px 0; }

.section-title .fa {
  font-size: 20px;
  color: #2aacc8;
  margin-right: 10px; }

.owl-carousel {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d9d9d9; }

/* Bottom part */
.bottom {
  min-height: 300px;
  background: #FFF;
  background-size: cover;
  width: 100%;
  position: relative; }

.bottom .section-title {
  padding-bottom: 20px; }

/* Bottom: Testimonials */
.bottom .testimonials p:nth-of-type(1) {
  line-height: 2;
  margin-top: -10px; }

.bottom .testimonials p:nth-of-type(2) {
  font-style: italic;
  font-weight: bold;
  padding-top: 10px; }

/* Bottom: Clients */
.bottom .clients-list img {
  width: 160px;
  height: 100px;
  border: 1px solid #e8ebf1;
  box-shadow: inset 0 0px 20px #000;
  margin-bottom: 10px; }

.bottom .clients-list .column {
  list-style: none;
  display: inline-block; }

/* Blue download box */
.bottom-box {
  min-height: 180px;
  background: #FFF;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 40px 0; }

.blue-box {
  margin: auto;
  min-height: 140px;
  width: 100%;
  background: #e8fcfe;
  background-size: cover;
  border: 1px solid #81e4ed; }

.blue-box .row .column {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

.blue-box p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px; }

.download-button {
  margin: 10px;
  height: 60px;
  width: 210px;
  box-shadow: 0 8px 16px -6px #666; }

/* Footer */
.footer {
  min-height: 320px;
  background: #e8ebf1;
  background-size: cover;
  width: 100%;
  position: relative;
  border-top: 1px solid #d9d9d9; }

.footer .section-title {
  padding-bottom: 10px; }

.footer .social-share li {
  display: inline;
  padding-right: 0px; }

.footer ul {
  margin-left: 0;
  padding-left: 0; }

.footer ul li {
  list-style: none;
  line-height: 1.8; }

.footer ul li a {
  color: #333; }

.footer .contact p {
  line-height: 0.9; }

.footer .contact p:nth-of-type(1) {
  font-weight: bold; }

.footer .contact p:nth-of-type(4) {
  padding-top: 15px; }

.footer .copyright {
  padding-top: 40px; }

.footer .bislite-logo {
  text-align: center;
  font-size: 50px;
  color: #000 !important;
  font-weight: bold; }

/* Media Queries */
@media screen and (min-width: 480px) {
  .footer .social-share {
    column-count: 3; } }
@media screen and (min-width: 768px) {
  .middle-section .row {
    padding-top: 30px; }

  .blue-box .download-button {
    width: 240px; }

  .footer .explore {
    padding-left: 50px; }

  .footer .bislite-logo {
    float: right; } }
@media screen and (min-width: 992px) {
  .middle-section .row {
    padding-top: 60px; }

  .blue-box p {
    margin: 0 30px; }

  .blue-box .row .column {
    padding: 30px; }

  .footer .social-share li {
    display: inline;
    padding-right: 20px; } }

/*# sourceMappingURL=main.css.map */
